<h2>Create a new user</h2>

<%= form_for :user, url: '/users' do |f| %>
  <p>Username: <%= f.text_field :name %></p>
  <p>Password: <%= f.password_field :password %></p>
  <p>Password Confirmation: <%= f.password_field :password_confirmation %></p>
  <%= f.submit "Submit" %>
<% end %>
